@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <hr />
    <p><a href="/hello">Hello Controller</a>.</p>
    <hr />
    <p><a href="/events">Events Form Controller</a></p>
    <hr />
    <p><a href="/spastudio">Spa Day Studio</a>.</p>
</div>
