@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hr />
    <p><a href="/hello">Hello Controller Path</a></p>
    <p><a href="/helloworld">Hello World Path</a></p>
    <p><a href="/helloname?name=Matt">Hello Welcome With Name</a></p>
    <p><a href="/helloname">Hello Welcome Without Name</a></p>
    <p><a href="/helloname/Matt">Hello Welcome Name Path</a></p>
    <hr />
    <p><a href="/form/">Form Controller</a></p>
    <p><a href="/welcome/">Form Welcome</a></p>
    <hr />
    <p><a href="/exercises/">Exercises Controller</a></p>
    <hr />
    <p><a href="/skills/">Studio - Skills Tracker</a></p>
</div>
