@{
    Layout = null;
}
<h1>Add a Location</h1>

<form method="post">
    <label for="cityname">City:</label><br />
    <input type="text" name="cityname" id="cityname" /><br />
    <label for="statename">State:</label><br />
    <input type="text" name="statename" id="statename" /><br />
    <input type="submit" value="Add City" />
</form>