@{
}
<h1>Add a Dog</h1>

<form method="post">
    <label for="dogbreed">Breed:</label><br />
    <input type="text" name="dogbreed" id="dogbreed" /><br />
    <label for="dogsize">Size:</label><br />
    <input type="text" name="dogsize" id="dogsize" /><br />
    <input type="submit" value="Add Dog" />
</form>